#product{
    
}
.img-fluid1{
    max-width: 80%;
    height: auto;
}
/*
.container-pd{
    max-width: 1200px;
    margin: 0 auto;
}
*/
.list-product{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.arrow{
    width: 2rem;
    margin: 0 auto;
}
section.pd{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
}
section::-webkit-scrollbar-track{
    --webkit-box-shadow:inset e 0 6px Orgba(, 0,0,0.3);
}
section .thumbnail{
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 1px solid var(--black);
    overflow: hidden;
    transform: scale(.95);
    transition: all 0.3s;
    width: 80%;
    text-align: center;
    height: 500px
}
#tt_product{
    position: relative !important;
    bottom: 55px;
    background-color: #291853!important;
    color: white!important;
    padding: 20px 0!important;
    font-size: 40px;
    font-weight: 600!important;
}
.gia{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.name-pd{
    padding-top: 10px;
    font-weight: 600;
}
a{
    text-decoration: none!important;
}
a.add-pd,.detail-pd{
    color: white!important;
    background-color: #291853;
    padding: 5px;
    border-radius: 5px;
}
a.add-pd:hover,.detail-pd:hover{
    color: #291853!important;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #5f03f4,
                0 0 10px #5f03f4,
                0 0 20px #5f03f4,
                0 0 40px #5f03f4,
                0 0 80px #5f03f4;
}
