ul .sl{
    list-style:none;
}
a .sl{
    text-decoration:none;
}
#slider{
    position: relative;
    padding-top: 60px;
    z-index: 5000;
    top: -154px;
    background: #291853;
}
.tt-sl{
    height: 80px;
    padding-top: 15px;
    padding-bottom: 100px;
}
.h2-sl{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    Letter-spacing: 0.1em;
    text-shadow: 0 0 5px #5f03f4,
                0 0 10px #5f03f4,
                0 0 20px #5f03f4,
                0 0 40px #5f03f4,
                0 0 80px #5f03f4;

}
.light-sl{
    position: absolute;
    top: 65px;
    Left: 530px;
    width: 5px;
    height: 70px;
    border-radius: 10px;
    background: rgb(41, 24, 83);
    z-index: 2;
    box-shadow: 0 0 10px #5f03f4,
            0 0 20px #5f03f4,
            0 0 40px #5f03f4,
            0 0 80px #5f03f4,
            0 0 120px #5f03f4;
    visibility: hidden;

}
.tt-sl:hover .light-sl{
    background-color:white;/* rgb(41, 24, 83);*/
    visibility:visible;
    animation: animatelightbar 5s linear infinite;
}
.tt-sl:hover .h2-sl{
    color: white;
    font-size: 40px;
    font-weight: 600;
    Letter-spacing: 0.1em;
    text-shadow: 0 0 10px #5f03f4,
                0 0 20px #5f03f4,
                0 0 40px #5f03f4,
                0 0 80px #5f03f4,
                0 0 120px #5f03f4;

}
@keyframes animatelightbar
{
    0%, 5%
    {
    transform: scaleY(1) translateX(0);
    }
    10%
    {
    transform: scaleY(1) translateX(0);
    }
    90%
    {
    transform: scaleY(1) translatex(calc(600px - 150рx));
    }
    95%,100%
    {
        transform: scaleY(1) translateX(calc(600px - 150px));
    }
}
.topLayer{
    position: absolute;
    top: 60px;
    Left: 530px;
    width: 530px;
    height: 80px;
    position: absolute;
    background: #291853;
    box-shadow: 0 0 10px #291853, 
                0 0 20px #291853, 
                0 0 40px #291853, 
                0 0 80px #291853, 
                0 0 120px #291853;
    visibility:hidden;
    
}
.tt-sl:hover .topLayer{
    animation: animatetopLayer 5s linear infinite;
    visibility:visible;
    
}
@keyframes animatetopLayer
{
    0%, 5%
    {
    transform: scaleY(1) translateX(0);
    }
    10%
    {
    transform: scaleY(1) translateX(0);
    }
    90%
    {
    transform: scaleY(1) translatex(calc(600px - 100рx));
    }
    95%,100%
    {
        transform: scaleY(1) translateX(85%);
    }
}
.slider{
    width:100%;
    height: 75vh;
    background-color:rgb(41, 24, 83);
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}
.box{
    width:350px;
    height:500px;
    background-color:#1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba (0,0,0,0.5);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px 10px;  
}
.model{
    /* height: 350px; */
    /* max-height: 100%; */
    /* max-width: 100%; */
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.details p{
    font-family: calibri;
    font-weight: bold;
    color:#6a6a74;
    text-align: center;
    margin-top: 20px;
}
.marvel{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kai;
    font-size: 25px;
    margin-top: 40px;
}
.box:hover{
    position: relative;
    top: 20px;
    border: 3px solid white;
}
.change_sl{
    height: 550px!important;
}
.lSPrev,.lSNext{
    background-color: white!important;
}